body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  background-color: rgb(238, 227, 218);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
