body {
  margin: 0;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 12px;
  background-color: rgb(238, 227, 218);
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #3c2f2b;
  transition: color 250ms linear;
}
.link:hover,
.link:focus {
  color: #a11e01;
}

.container {
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1440px;
}
.section-title {
  padding-bottom: 10px;
}
header {
  background: #846e67;
  background: linear-gradient(
    180deg,
    rgba(132, 110, 103, 1) 10%,
    rgba(238, 227, 218, 1) 100%
  );
}
nav {
  margin: 0 auto;
  max-width: 1440px;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
  margin: 0 16px;
  @media screen and (min-width: 768px) {
    gap: 30px;
  }
}

.nav-link {
  position: relative;
  padding: 10px 0;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #a11e01;
  transition: width 0.2s ease-in-out;
}
.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
  background-color: #a11e01;
}

section {
  margin: 0 16px;
}
.hero-container {
  display: flex;
  gap: 10px;
  @media screen and (min-width: 768px) {
    gap: 50px;
  }
}
.hero-image {
  width: 100px;
  height: fit-content;
  @media screen and (min-width: 768px) {
    width: 200px;
  }
}

.hero-inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.contacts-name {
  display: flex;
  gap: 10px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects-item-inner {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
}
.projects-name {
  text-transform: uppercase;
  font-weight: 600;
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-link {
  transition: all 250ms linear;
}

.footer-link:hover,
.footer-link:focus {
  transform: scale(1.1);
}
